h1 {
  font-family: monospace;
  text-align: center;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 50px;
}

h2 {
  text-align: center;
  font-weight: bold;
}

h3 {
  color: black;
  text-align: center;
}

h4 {
  text-align: center;
  text-decoration: underline;
}

ul {
  text-align: center;
}

li {
  text-align: left;
}

p {
  text-shadow: heavey;
  text-align: center;
}
body {
  background: #ffe6e6;
  font-family: monospace;
}
