h1 {
  font-style: normal;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  color: blue;
  text-align: center;
}

ul {
  text-align: center;
}

li {
  text-align: center;
}

p {
  text-shadow: heavey;
  text-align: center;
}
